@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap")
@import node_modules/@fortawesome/fontawesome-free/css/fontawesome.css
@import mixins

$font-dense: '../fonts/Dense/'

@font-face 
    font-family: 'Dense', 'Montserrat', sans-serif
    src: url($font-dense + 'Dense-Regular.eot'),
         url:($font-dense + 'Dense-Regular.eot?#iefix') format('embedded-opentype'),
         url($font-dense + 'Dense-Regular.woff2') format('woff2'),
         url($font-dense + 'Dense-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal

h1
    font-family: 'Montserrat'
    font-weight: $regular
    font-size: 3rem
    color: $white

    strong
        font-weight: $regular