@import fonts
@import global
@import mixins
@import motors
@import responsive

.main-footer
    .nav-footer
        padding: 100px 0px
        background-image: url('../imgs/bg-footer-home.jpg')
    
    .pos-footer
        padding: 15px 0px
        background-color: $black
        
        small
            display: block
            text-align: center
            color: $grey
        

