@import responsive

/*GLOBALS*/
.wrap-container
    max-width: 1170px


.show-desk
    display: block

    @media $tablet-small
        display: none

.show-mobile
    display: none
    
    @media $tablet-small
        display: block