@import fonts
@import global
@import mixins
@import motors
@import responsive

.main-header

    .pre-header
        padding: 10px 0px
        background-color: $black

        &__wrap
            display: flex
            justify-content: space-between
            align-items: center
            color: $grey
            font-size: 0.9rem

        &__esq-itens
            display: flex
            justify-content: flex-start

            .redes-sociais-icons
                li
                    display: inline-block

                    a
                        display: block
                        padding-top: 5px
                        margin-right: 10px
                        width: 30px
                        height: 30px
                        border: 1px solid $white
                        +border-radius(50%)
                        +transition(.2s)
                        text-align: center
                        font-size: 1rem
                        color: $white

                    &:hover
                        a
                            background-color: $primary
                            border: 1px solid $primary
            
            span
                display: inline-block
                padding-top: 7px 
                padding-left: 15px

                i
                    margin-right: 5px
                    font-size: 1rem

        &__dir-itens
            display: flex
            justify-content: flex-end

            span
                display: inline-block

                i
                    margin-right: 5px
                    font-size: 1rem


    .main-header
        padding: 20px 0px
        background-color: $dark

        &__wrap
            display: flex
            justify-content: space-between
            align-items: center

        &__logo
            height: 50px
            img
                height: 100%
                width: auto

        &__menu
            ul
                padding: 10px 0px 0px
                margin: 0px

                li
                    display: inline-block
                    margin: 0px 5px

                    a
                        display: block
                        color: $white
                        padding: 0px 15px
                        +transition(.2s)

                        &::after
                            content: ''
                            display: block
                            width: 0px
                            height: 2px
                            margin: 5px auto
                            background-color: $primary
                            +transition(.2s)
                        
                        &:hover
                            &::after
                                width: 30px
                    
                    &:last-child
                        margin-right: 0px
                        a
                            padding-right: 0px
